@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

body {
  background: #f7c329;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -112px 0 0 -200px;
}
.container p {
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.container .btn-group {
  position: relative;
}
.container .btn-group .btn {
  cursor: pointer;
  display: inline-block;
  background: #1A1B18;
  width: 200px;
  height: 120px;
  border-bottom: 5px solid #a57006;
  color: #ffffff;
  font-size: 36px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 25px 0 0 25px;
}
.container .btn-group .btn:last-child {
  background: #ffffff;
  border-bottom: 5px solid #a57006;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 25px 25px 0;
  color: rgb(0, 0, 0);
  margin: 0 0 0 -4px;
}
.container .btn-group .btn:active {
  margin-top: 5px;
  border: none;
  box-shadow: none;
}
.container .btn-group span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: inline-block;
  background: #1A1B18;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: -25px 0 0 -25px;
  color: #fff;
  border: 5px solid #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}
