@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primaryColor: #6411f7;
}

body {
  background-color: #f7c329;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  width: 90%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.33);
}

/* Choice */

.title {
  font-family: "Playfair Display", serif;
  color: var(--primaryColor);
  text-align: center;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 10px;
}

.options {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.option-container {
  font-family: "Roboto", sans-serif;
  width: 120px;
  border: 2px solid #111;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  display: flex;
  padding: 12px 0;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.15s ease-in-out;
}

.option-container:hover {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
  transform: scale(1.05);
}

.option-container i {
  margin-right: 4px;
}

/* Disponibilidad */

.tables {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  letter-spacing: 2px;
}

.number-tables {
  font-family: "Roboto", sans-serif;
  color: #6c1ef7;
}

.options-disponibility {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 34px;
  font-size: 20px;
  color: #000;
}

.option-disponibility {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.option-disponibility i {
  margin-right: 4px;
}

.option-disponibility a:visited {
  color: var(--primaryColor);
}



@media only screen and (max-width: 300px) {
  .container {
    width: 98%;
    padding: 14px;
  }
  .options {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 35%;
  }
  
  .tables {
    font-size: 22px;
  }

  .select-container {
    width: 70%;
  }
}
