@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f7c329;
  overflow: hidden;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
}

.navbar #title {
  font-family: "Playfair Display", serif;
  margin-left: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.navbar ul {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-around;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar ul li a:hover {
  color: #f4f4f4;
}

.navbar .cart {
  margin-right: 2rem;
}

.cart__button {
  padding: 8px;
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fa-file-invoice-dollar {
  font-size: 1.6rem;
}

.cart__button:hover {
  color: #fff;
  transform: scale(1.05);
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  scroll-snap-align: center;
}

/* New food */

#new-food,
#new-supply,
#waiter,
#foods {
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  padding: 10px 2rem;
  border-radius: 10px;
  background: #FFF5FD;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.5);
}

.form__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form__div {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
}

.form__input {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 6px;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #FFF5FD;
  color: #000;
  transition: 0.3s;
}

.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: #39a2db;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
}

.form__input:focus {
  border: 2px solid #39a2db;
}

.form__label-image {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.form__input-image {
  margin-bottom: 1rem;
  width: fit-content;
}

.form__button {
  margin: 0 auto;
  width: 30%;
  padding: 6px 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF5FD;
  background-color: #558776;
  transition: background-color 0.2s ease-out;
}

.form__button:hover {
  background-color: #558776;
}

.form__button:active {
  background-color: #3a6351;
  opacity: 0.9;
}

.form__label-category {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.form__select {
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  margin-bottom: 1rem;
}

/* Tables */

.tables-waiters-container{
  margin-top: 5rem;
  padding: 1rem;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.tables__container {
  height: 100%;
  overflow-y: scroll;
  width: 50%;
}

.waiter-name {
  text-align: center;
}

.tables__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tables__flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.table {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 16vh;
  display: flex;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #FFF5FD;
}

.table__title {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.table__svg {
  margin-right: 4px;
}

.table__code {
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
}


.available {
  background-color: #66DE93;
}

.occupied {
  background-color: #FF616D;
}

.pending-payment {
  background-color: #EBA83A;
}

.cart__modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .3s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.cart__modal {
  position: relative;
  height: 70vh;
  width:40%;
  background-color: #FFF5FD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem;
  border-radius: 10px;
}

.cart__modal-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.1rem;
  border: none;
  color: #444444;
}

/* Foods */
.food-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #FFF5FD;
  opacity: 1;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.34);
  transition: background-color 0.2s ease-in-out;
  margin-bottom: .5rem;
}

.foods-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.food-container__title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.food__image {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #000;
}

.food-container:hover {
  background-color: #ebebee;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #000;
  font-size: 1.3rem;
  cursor: pointer;
}


.principal__food {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF5FD;
  opacity: 1;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.34);
  transition: opacity 0.2s ease-in-out;
  margin-bottom: .5rem;
}

.principal__food-info {
  width: 100%;
  position: relative;
  height: 70px;
}

.food-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s ease;
}

.food-options__list {
    list-style: none;
}

.food-option {
    display : flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 24px 60px;
    width: 100%;
}

.display {
  max-height: 300px;
}

.rotate {
  transform: rotate(180deg);
}

.fa-angle-down {
  transition: transform .5s ease-in-out;
}

.food-option a {
    text-decoration: none;
    color: #000;
    width: 100%;
    margin-left: 20px;
}

.menu-title {
  color: #000;
  font-size: 2rem;
  margin-bottom: 8px;
}

.waiters-container {
  width: 300px;

}
.waiters{
  overflow-y: scroll;
  height: 100%;
  width: 50%;

}

.waiters__select {
  width: 100%;
  margin-bottom: 20px;

}

.waiters-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 10px 2rem;
  border-radius: 10px;
  background: #FFF5FD;
  margin: 20px 0;
}

.waiter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .foods-container {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .foods-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .foods-container {
    width: 50%;
  }
}
