@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:root {
  --active-indicator-width: 120px;
  --icon-width: 26px;
  --icon-margin-right: 9px;
  --menu-padding-horizontal: 29px;
  --menu-padding-vertical: 20px;
  --active-indicator-extra-length: 12px;
  --space-between-icons: 70px;
}

@media (max-width: 600px) {
  :root {
    --active-indicator-width: 80px;
    --icon-margin-right: 7px;
    --menu-padding-horizontal: 24px;
  }
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7c329;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Overpass', sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 30px;
  margin-left: 90px;
  width: 250px;
  height: 70px;
}

.logo__item img {
  width: 200px;
}

.nav {
  background: #fff;
  padding: var(--menu-padding-vertical) var(--menu-padding-horizontal);
  display: flex;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  position: fixed;
  top: 0;
  margin-top: 25px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.trolley {
  background: #fff;
  padding: var(--menu-padding-vertical) var(--menu-padding-horizontal);
  display: flex;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 100px;
}

.trolley:active {
  background-color: #000;
}

.nav__active-indicator {
  position: absolute;
  top: 50%;
  margin-left: calc(
    var(--menu-padding-horizontal) - var(--active-indicator-extra-length)
  );
  left: 0;
  transform: translateY(-50%);
  width: calc(
    var(--active-indicator-width) + var(--active-indicator-extra-length) * 2
  );
  height: calc(100% - var(--menu-padding-vertical));
  background: #f7c329;
  z-index: 10;
  border-radius: var(--active-indicator-width);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav__item {
  margin-left: var(--space-between-icons);
  position: relative;
  z-index: 20;
}

.nav__item:first-child {
  margin-left: 0;
}

button {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: var(--icon-width);
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: none;
  position: relative;
  background: transparent;
}

.active {
  width: var(--active-indicator-width);
}

.icon {
  display: block;
  margin-right: var(--icon-margin-right);
  flex-shrink: 0;
  width: var(--icon-width);
  height: var(--icon-width);
}

.text {
  display: block;
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
  font-size: 0;
  font-family: 'Overpass', sans-serif;
  margin-top: 2px;
}

.text:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  width: var(--active-indicator-width);
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-left: calc(var(--icon-width) + var(--icon-margin-right));
  transition: opacity 0s;
}

.slide-right .text:after {
  left: 0;
  right: auto;
}
.slide-left .text:after {
  right: 0;
  left: auto;
}

.active .text:after {
  opacity: 1;
  transition: opacity 0.4s;
}