<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ma·ju·ba</title>
  <link rel="stylesheet" href="/static/choice.css">
</head>
<body>
  <div class='container'>
    <p>INGRESAR COMO</p>
    <div class='btn-group animated bounceIn'>
      <a class='btn' th:href="">
        <div class='fa fa-check'>Admin</div>
      </a>
      <span>o</span>
      <a class='btn' th:href="">
        <div class='fa fa-times'>Cliente</div>
      </a>
    </div>
  </div>
</body>
</html>