<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ma·ju·ba</title>
  <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
  <div class="container">
    <h1>HAY <span th:text="${num_tables}"></span> MESAS DISPONIBLES</h1>
    <div class="enter">
        <a th:href="@{/mesa}" th:disabled="${num_tables == 0}">Ingresar</a>
        <a th:href="@{/guest}" class="return">Volver</a>
    </div>
  </div>
</body>
</html>