<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
    <link rel="stylesheet" th:href="@{/food2.css}" />
    <!-- Link CSS -->
    <!-- <link rel="stylesheet" href="../static/food.css" />
     Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="topnav">
      <h2 class="logo">ma·ju·ba</h2>
    </nav>
    <main class="main-container">
      <h1 class="option-menu">Guarniciones</h1>
      <h3><a th:href="@{/system#foods}">Volver</a></h3>
      <ul class="foods-container">
        <li class="food" th:each="food : ${foods}">
          <img
            class="food__img"
            src="../static/images/food-images/empanadas.jpg"
            th:src="@{/foods/image/__${food.food_id}__}"
            alt="Entradas"
          />

          <div class="food__info">
            <h3 class="food__title" th:text="${food.title}">Empanada</h3>
            <p class="food__description" th:text="${food.description}">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
              excepturi!
            </p>
          </div>

          <div class="food__options">
            <a
              class="food__options-edit modal-open"
              th:attr="data-id=${food.food_id}"
              href="#"
            >
              <i class="far fa-edit"></i>
            </a>
            <form
              th:action="@{/foods/delete/__${food.food_id}__}"
              method="POST"
            >
              <button class="food__options-delete" type="submit">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
          </div>
        </li>
      </ul>
    </main>

    <!-- Edit modal -->
    <div class="edit__modal-bg">
      <div class="edit__modal">
        <button class="edit__modal-button">
          <i class="fas fa-times"></i>
        </button>
        <form
          id="modify"
          class="form"
          autocomplete="off"
          action=""
          method="post"

          enctype="multipart/form-data"
        >
          <h2 class="form__title">Editar comida</h2>
          <div class="form__div">

            <input
                    name="title"

              type="text"
              class="form__input"
              placeholder=" "
            />
            <label for="" class="form__label">Nuevo Título</label>
          </div>
          <div class="form__div">
            <input
                    name="description"
              type="text"
              class="form__input"
              placeholder=" "
            />
            <label for="" class="form__label">Nueva Descripción</label>
          </div>
          <div class="form__div">
            <input
                    name="price"
              type="number"
              min="0"
              class="form__input"
              placeholder=" "
            />
            <label for="" class="form__label">Nuevo Precio</label>
          </div>
          <label for="img" class="form__label-image">Nueva Imágen</label>
          <input
                  name="image"
            class="form__input-image"
            type="file"
            id="img"
            accept="image/*"
          />
          <label for="" class="form__label-category">Nueva Categoría</label>
          <select
                  name="category"
            class="form__select"

            id="category"
          >
            <option value="" selected>Seleccionar Categoría</option>
            <option
              th:each=" category : ${categories}"
              th:text="${category.name}"
              th:value="${category.category_id}"
            ></option>
          </select>
          <button class="form__button" type="submit" form="modify">
            <i class="fas fa-pencil-alt"></i>
            <span>Editar</span>
          </button>
        </form>
      </div>
    </div>

    <script>
      const editModalButton = document.querySelector(".food__options-edit");
      const modalBg = document.querySelector(".edit__modal-bg");
      const closeModalButton = document.querySelector(".edit__modal-button");

      const form = document.getElementById("modify");
      let openModal = document.querySelectorAll(".modal-open");
      for (let i = 0; i < openModal.length; i++) {
        openModal[i].addEventListener("click", (e) => {
          let id = openModal[i].getAttribute("data-id");
          form.setAttribute("action", `/foods/edit/${id}`);
          e.preventDefault();
          toggleModal();
        });
      }

      closeModalButton.addEventListener("click", () => {
        toggleModal();
      });
      const toggleModal = () => {
        modalBg.classList.toggle("bg-active");
      };
    </script>
  </body>
</html>
