<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
    <!-- <link rel="stylesheet" th:href="@{/index-emp.css}" /> -->
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/index-emp.css" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
</head>
<body>
    <main class="container" >
        <nav class="navbar">
            <a href="#tables" id="title">ma·ju·ba</a>
          <ul>
            <li><a href="#tables">Mesas</a></li>
            <li><a href="#foods">Comidas</a></li>
            <li><a href="#new-supply">Nuevo insumo</a></li>
            <li><a href="#new-food">Nueva comida</a></li>
          </ul>
          <div class="cart">
              <button class="cart__button"><i class="fas fa-file-invoice-dollar"></i></button>
          </div>
        </nav>

        <section id="tables">
            <h1>Hola</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non beatae temporibus tempora ipsa suscipit?</p>
        </section>

        <section id="foods">
            <h1>Hola</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non beatae temporibus tempora ipsa suscipit?</p>
        </section>

        <section id="new-supply">
            <form class="form" autocomplete="off">
                <h2 class="form__title">Nuevo insumo</h2>
                <div class="form__div">
                    <input type="text" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Nombre</label>
                </div>
                <button class="form__button"> 
                    <i class="fas fa-plus"></i>
                    <span>Cargar</span>
                </button>
            </form>
        </section>

        <section id="new-food">
            <form class="form" autocomplete="off">
                <h2 class="form__title">Nueva comida</h2>
                <div class="form__div">
                    <input type="text" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Título</label>
                </div>
                <div class="form__div">
                    <input type="text" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Descripción</label>
                </div>
                <label for="img" class="form__label-image">Imágen</label>
                <input class="form__input-image" type="file" id="img" name="img" accept="image/*">
                <label for="" class="form__label-category">Categoría</label>
                <select class="form__select" name="category" id="category">
                    <option value="" selected>Seleccionar Categoría</option>
                    <option th:each=" : ${}" th:text="${}" th:value="${}"></option>
                </select>
                <label for="" class="form__label-category">Ingredientes</label>
                <select class="form__select" name="ingredients" id="ingredients">
                    <option value="" selected>Seleccionar Ingredientes</option>
                    <option th:each=" : ${}" th:text="${}" th:value="${}"></option>
                </select>
                <button class="form__button"> 
                    <i class="fas fa-plus"></i>
                    <span>Cargar</span>
                </button>
            </form>
        </section>

      </main>
</body>
</html>