<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
   <link rel="stylesheet" th:href="@{/index-cl.css}" />
    <!-- Link CSS
      <link rel="stylesheet" href="../static/index-cl.css" />
    Icons    -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    <div class="restaurant">
      <span class="restaurant__name">ma·ju·ba</span>
    </div>
    <main class="main-container">
      <div class="pay-container">
        <p class="selection">¿Qué desea comer?</p>
        <form class="pay-form" th:action="@{/checkout/__${table}__}">
          <button class="pay-button">
            <i class="fas fa-money-bill-wave"></i>
          </button>
        </form>
      </div>
      
      <div class="foods-container">
      <div class="food-container">
        <img
          class="food__image"
          th:src="@{/images/entradas.svg}"
          src="../static/images/entradas.svg"
          alt="Entradas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='entradas') }">Entradas </a>
      </div>
      <div class="food-container">
        <img
          class="food__image"
          th:src="@{/images/ensaladas.svg}"
          src="../static/images/ensaladas.svg"
          alt="Ensaladas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='ensaladas')}"> Ensaladas </a>
      </div>
      <div class="principal__food" id="principals">
        <div class="principal__food-info">
          <img
            class="food__image"
            th:src="@{/images/comidas.svg}"
            src="../static/images/comidas.svg"
            alt="Principales"
            width="30"
            height="30"
          />
          <a class="food-container__title"> Principales </a>
          <button class="dropdown-button">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>
        <div class="food-options">
          <ul class="food-options__list">
            <li class="food-option">
              <img th:src="@{/images/minutas.svg}" src="../static/images/minutas.svg" alt="Minutas" width="20px" height="20px"/>
              <a th:href="@{/foods/{categoria}(categoria='minutas')}">
                <span>Minutas</span>
              </a>
            </li>
            <li class="food-option">
              <img th:src="@{/images/carnes.svg}" src="../static/images/carnes.svg" alt="Carnes" width="20px" height="20px"/>
              <a th:href="@{/foods/{categoria}(categoria='carnes')}">
                <span>Carnes</span>
              </a>
            </li>
            <li class="food-option">
              <img th:src="@{/images/pescados.svg}" src="../static/images/pescados.svg" alt="Pescados" width="20px" height="20px"/>
              <a th:href="@{/foods/{categoria}(categoria='pescados')}">
                <span>Pescados</span>
              </a>
            </li>
            <li class="food-option">
              <img th:src="@{/images/comidas.svg}" src="../static/images/comidas.svg" alt="Guarniciones" width="20px" height="20px"/>
              <a th:href="@{/foods/{categoria}(categoria='guarniciones')}">
                <span>Guarniciones</span>
              </a>
            </li>
            <li class="food-option">
              <img th:src="@{/images/pastas.svg}" src="../static/images/pastas.svg" alt="Pastas" width="20px" height="20px"/>
              <a th:href="@{/foods/{categoria}(categoria='pastas')}">
                <span>Pastas</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="food-container">
        <img
           class="food__image"
           th:src="@{/images/pizzas.svg}"
          src="../static/images/pizzas.svg"
          alt="Ensaladas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='pizzas')}"> Pizzas </a>
      </div>
      <div class="food-container">
        <img
          class="food__image"
          th:src="@{/images/postres.svg}"
          src="../static/images/postres.svg"
          alt="Ensaladas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='postres')}"> Postres </a>
      </div>
      <div class="food-container">
        <img
          class="food__image"
          th:src="@{/images/bebidas.svg}"
          src="../static/images/bebidas.svg"
          alt="Ensaladas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='bebidas')}"> Bebidas </a>
      </div>
      <div class="food-container">
        <img
          class="food__image"
          th:src="@{/images/cafeteria.svg}"
          src="../static/images/cafeteria.svg"
          alt="Ensaladas"
          width="30"
          height="30"
        />
        <a class="food-container__title" th:href="@{/foods/{categoria}(categoria='cafeteria')}"> Cafetería </a>
      </div>
    </div>
    </main>
    <script>
      //Dropdown menu cl (index-cl)
      const principalFood = document.querySelector(".principal__food-info");
      const foodOptions = document.querySelector(".food-options");
      const dropdownButton = document.querySelector(".fa-angle-down");
      principalFood.addEventListener('click', () => {
        foodOptions.classList.toggle('display');
        dropdownButton.classList.toggle('rotate');
      })
    </script>
    <script th:replace="cart2 :: cart2">
    </script>

  </body>
</html>
