<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
     <link rel="stylesheet" th:href="@{/index-emp.css}" />
    <!-- Link CSS -->
    <!-- <link rel="stylesheet" href="../static/index-emp.css" />
     Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main class="container">
      <nav class="navbar">
        <a href="#tables" id="title">ma·ju·ba</a>
        <ul>
          <li><a href="#tables">Mesas</a></li>
          <li><a href="#new-supply">Nuevo insumo</a></li>
          <li><a href="#new-food">Nueva comida</a></li>
          <li><a href="#waiter">Mozo</a></li>
          <li><a th:href="@{/menu-emp}">Comidas</a></li>
        </ul>
        <div class="cart">
          <a href="#" class="cart__button">
            <i class="fas fa-file-invoice-dollar"></i>
          </a>
        </div>
      </nav>

      <section id="tables">
        <div class="tables__container">
          <h2 class="tables__title">Mesas</h2>
          <div class="tables__flex-container" >
            <div
              th:each=" table : ${tables}"
              class="table"
              th:classappend="|${table.available ? 'available' : 'occupied'} ${table.pending_payment ? 'pending-payment' : ''}|">
              <div class="table__title">
                <img
                  class="table__svg"
                  th:src="@{/images/mesas.svg}"
                  width="30"
                  height="30"
                  alt="tables"
                />
                <h4>Mesa Nº<span th:text="${table.table_id}"></span></h4>
              </div>
              <p>Código: <span class="table__code" th:text="${table.access_code}"></span></p>
              <p>Mesero/s: <span class="table__code" th:each=" waiter : ${table.waiters}" th:text="${waiter.name}" th:value="${waiter.waiter_id}"></span></p>
            </div>
          </div>
        </div>
      </section>

      <section id="new-supply">
        <form class="form" autocomplete="off">
          <h2 class="form__title">Nuevo insumo</h2>
          <div class="form__div">
            <input type="text" class="form__input" placeholder=" " />
            <label for="" class="form__label">Nombre</label>
          </div>
          <button class="form__button">
            <i class="fas fa-plus"></i>
            <span>Cargar</span>
          </button>
        </form>
      </section>

      <section id="new-food">
        <form class="form" autocomplete="off" th:action="@{/foods/save}" method="post" th:object="${food}" enctype="multipart/form-data">
          <h2 class="form__title">Nueva comida</h2>
          <div class="form__div">
            <input th:field="*{title}" type="text" class="form__input" placeholder=" " />
            <label for="" class="form__label">Título</label>
          </div>
          <div class="form__div">
            <input th:field="*{description}" type="text" class="form__input" placeholder=" " />
            <label for="" class="form__label">Descripción</label>
          </div>
          <div class="form__div">
            <input th:field="*{price}" type="number" min="0" class="form__input" placeholder=" " />
            <label for="" class="form__label">Precio</label>
          </div>
          <label for="img" class="form__label-image">Imágen</label>
          <input
            th:field="*{image}"
            class="form__input-image"
            type="file"
            id="img"
            name="image"
            accept="image/*"
          />
          <label for="" class="form__label-category">Categoría</label>
          <select th:field="*{category}" class="form__select" name="category" id="category">
            <option value="" selected>Seleccionar Categoría</option>
            <option th:each=" category : ${categories}" th:text="${category.name}" th:value="${category.category_id}"></option>
          </select>
          <button class="form__button">
            <i class="fas fa-plus"></i>
            <span>Cargar</span>
          </button>
        </form>
      </section>

      <section id="waiter">
        <form class="form" autocomplete="off" th:action="@{/waiters/save}" method="post" th:object="${waiter}">
          <h2 class="form__title">Nuevo mozo</h2>
          <div class="form__div">
            <input th:field="*{name}" type="text" class="form__input" placeholder=" " />
            <label for="" class="form__label">Nombre</label>
          </div>
          <button class="form__button">
            <i class="fas fa-plus"></i>
            <span>Cargar</span>
          </button>
        </form>
      </section>
    </main>
  </body>
</html>
