<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>INGRESAR</h1>
      <div class="login">
        <form action="#" autocomplete="off">
          <input placeholder="Usuario" type="text" />
          <input placeholder="Contraseña" type="password" />
          <button>Ingresar</button>
        </form>
      </div>
    </div>
  </body>
</html>
