<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
    <link rel="stylesheet" th:href="@{/pay.css}" />
    <!-- Link CSS
    <link rel="stylesheet" href="../static/pay.css" />
      Icons    -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="topnav">
      <h2 class="logo">ma·ju·ba</h2>
    </nav>
    <main class="main-container">
      <div class="order">
        <h2 class="title">Tu pedido</h2>
        <div class="order__container">
          <h3 class="order__title">Items</h3>
          <div class="order__items">
            <div class="order__item" th:each="item : ${order_elements}">
              <h4 th:text="${item.food.getTitle()}"></h4>
              <div class="order__item-price">
                <p th:text="${item.amount}"></p>
                <p>$<span th:text="${item.subtotal}"></span></p>
              </div>
            </div>
          </div>
        </div>
        <form th:action="@{/payment/__${order.order_id}__}" method="post" class="order__form">
            <div class="form">
                <input class="form__input" name="clientName" type="text" placeholder="Nombre" required>
                <input class="form__input" name="email" type="email" placeholder="Email" required>
            </div>
            
          <button class="order__pay-button" onclick="checkout.open()">
            <i class="fas fa-dollar-sign"></i>
            <span th:text="${order.total}"></span>
          </button>



        </form>
      </div>
    </main>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script th:inline="javascript">
      const mp = new MercadoPago('TEST-beeec4aa-25c1-49c2-bc96-d3cdb39d74c5',{
        locale: 'es-AR'
      });

      const checkout = mp.checkout({
        preference: {
          id: [[${preferenceId}]]
        }
      });
    </script>
  </body>
</html>
