<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma·ju·ba</title>
    <!-- Link CSS using thymeleaf -->
    <!-- <link rel="stylesheet" th:href="@{/index-emp.css}" /> -->
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/payments.css" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="topnav">
      <h2 class="logo">ma·ju·ba</h2>
    </nav>
    <main class="main-container">
      <h2 class="main-title">Pedidos</h2>
      <div class="carts">
        <div class="cart">
          <div class="cart__header">
            <h3 class="cart__title">Mesa Nº<span>2</span></h3>
            <p class="cart__id">67</p>
          </div>     
          <div class="cart__items">
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
          </div>
          <button class="cart__remove-button">
            Eliminar
          </button>
        </div>
        <div class="cart">
          <div class="cart__header">
            <h3 class="cart__title">Mesa Nº<span>2</span></h3>
            <p class="cart__id">67</p>
          </div>     
          <div class="cart__items">
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
            <div class="cart__item">
              <p>Cafe</p>
              <span>8</span>
            </div>
          </div>
          <button class="cart__remove-button">
            Eliminar
          </button>
        </div>
      </div>
    </main>
    <script>
      const removeCartButtons = document.getElementsByClassName("cart__remove-button");
      for (let button of removeCartButtons) {
        button.addEventListener("click", () => {
          button.parentElement.remove();
        })
      }
      
    </script>
  </body>
</html>
