<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ma·ju·ba</title>
  <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
  <div class="container">
    <h1>DISPONIBILIDAD</h1>
    <div class="login">
      <form action="@{/disponible}" method="POST" autocomplete="off">
        <select class="form-select" aria-label="Personas" th:object="*{num_guests}">
          <option th:value="" disabled selected hidden>Mesa para</option>
          <option th:value="1">1 persona</option>
          <option th:value="2">2 personas</option>
          <option th:value="3">3 personas</option>
          <option th:value="4">4 personas</option>
          <option th:value="5">5 personas</option>
          <option th:value="6">6 personas</option>
        </select>
        <button type="submit">Comprobar</button>
      </form>
    </div>
  </div>
</body>
</html>